{% load i18n static %}
<!DOCTYPE html>{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:'en-us' }}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="{% static 'translate/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'translate/css/extra.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
{% block extra_css %}{% endblock %}
<title>{% block title %}Kon-nyaku{% endblock %}</title>
</head>
<body>
  <div class="container">
  <h1>Kon-nyaku</h1>
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
<script src="{% static 'translate/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'translate/js/bootstrap.bundle.min.js' %}"></script>
{% block extra_js %}
<script src="{% static 'translate/js/extra.js' %}"></script>
{% endblock %}
</body>
</html>
