{% extends "translate/base.html" %}

{% block title %}ファイルの一覧{% endblock title %}

{% block content %}
    <h4 class="mt-4 border-bottom">ファイルの一覧</h4>
    <a href="{% url 'translate:file_add' %}" class="btn btn-primary btn-sm my-3">追加</a>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">ファイル名</th>
          <th scope="col">ステータス</th>
          <th scope="col">進捗</th>
          <th scope="col">作成日</th>
          <th scope="col">変更日</th>
          <th scope="col">操作</th>
        </tr>
      </thead>
      <tbody>
        {% for file in files %}
        <tr>
          <th scope="row">{{ file.id }}</th>
          <td>{{ file.name }}</td>
          <td>{{ file.status }}</td>
          <td>{{ file.progress }}</td>
          <td>{{ file.created_date }}</td>
          <td>{{ file.modified_date }}</td>
          <td>
            <a href="{% url 'translate:file_del' file_id=file.id %}" class="btn btn-outline-danger btn-sm">削除</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock content %}
