{% extends "translate/base.html" %}

{% block title %}ファイルの一覧{% endblock title %}

{% block content %}
    <h4 class="mt-4 border-bottom">ファイルの一覧</h4>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.source_lang }}
        {{ form.target_lang }}
        {{ form.document }}
        <input type="hidden" name="name" value="" id="id_name">
        <button type="submit">Upload</button>
    </form>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">ファイル名</th>
          <th scope="col">ソース</th>
          <th scope="col">ターゲット</th>
          <th scope="col">ステータス</th>
          <th scope="col">進捗</th>
          <th scope="col">作成日</th>
          <th scope="col">変更日</th>
          <th scope="col">操作</th>
        </tr>
      </thead>
      <tbody>
        {{ file_list_data.html|safe }}
      </tbody>
    </table>
{% endblock content %}
