{% extends "translate/base.html" %}
{% load i18n static %}

{% block title %}Kon-nyaku{% endblock title %}

{% block content %}

  <h2 class="border-bottom mt-2">Upload Glossary</h2>
  <form method="post" enctype="multipart/form-data" id="glossary_upload">
    <div class="row">
      <div class="col-5">Source Language</div>
      <div class="col-5 offset-md-2">Target Language</div>
      {% bootstrap_field form.source_lang show_label=False form_group_class="col-5" %}
      {% bootstrap_field form.target_lang show_label=False form_group_class="col-5" %}
    </div>
    <div class="form-row">
        {% csrf_token %}
      </div>
      <div class="form-row">
        <div class="input-group col-10">
          <label id="choose_file">
            <span class="btn btn-primary"><i class="fas fa-file"></i> Choose File
              {{ form.document }}
            </span>
          </label>
          <input id="display_file_name" type="text" class="form-control" readonly="">
        </div>
        {{ form.name }}
        {% bootstrap_button "<i class='fas fa-upload'></i> Upload" id="upload_glossary" button_type="submit" button_class="btn-info mb-2 col-2" %}
    </div>
  </form>
  <h2 class="border-bottom mt-2">Glossary List</h2>
  <table class="col-12 table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Glossary ID</th>
        <th scope="col">sl</th>
        <th scope="col">tl</th>
        <th scope="col">Status</th>
        <th scope="col">Terms</th>
        <th scope="col">Uploaded</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <!-- {{ file_list_data.html|safe }} -->
    </tbody>
  </table>
  {% endblock content %}
</div>
