{% extends "translate/base.html" %}

{% block title %}Kon-nyaku{% endblock title %}

{% block content %}
  <h2 class="border-bottom mt-2">使い方</h2>
  <h3 class="mt-2">テキスト翻訳</h3>
  <ol>
    <li><var>Select Language</var>で翻訳方向を指定</li>
    <li><var>Text Translator</var>の左側のテキストエリアに翻訳したい文章を入力</li>
    <li><span class="btn btn-primary btn-sm"><i class="fas fa-language"></i> Translate</span> ボタンをクリックまたはCtrl + Enterキーを押下</li>
    <li><var>Text Translator</var>の右側のテキストエリアに翻訳された結果が表示される</li>
  </ol>

  <h3 class="mt-2">ファイル翻訳</h3>
  <ol>
    <li><var>Select Language</var>で翻訳方向を指定</li>
    <li><span class="btn btn-primary btn-sm"><i class="fas fa-file"></i> Choose File</span> ボタンをクリック</li>
    <li>翻訳したいファイルを選択</li>
    <li>インライン書式を維持したい場合は<var>Delete Format Tags</var>のチェックをはずす</li>
    <li><span class="btn btn-info btn-sm"><i class="fas fa-upload"></i> Upload</span> ボタンをクリック</li>
    <li>アップロードされたファイルの <span class="btn btn-primary btn-sm"><i class="fas fa-language"></i></span> ボタンをクリック</li>
    <li>翻訳がおわると<var>Progress</var>が <i class="fas fa-download"></i> Download</a> に変わるのでクリックしてダウンロードする</li>
  </ol>

  <h3 class="mt-2">仕様</h3>
  <ul>
    <li>英語⇔他言語のみNMTに対応</li>
    <li>その他の組み合わせはSMT</li>
    <li>ファイル翻訳は*.pptx、*.docx、*.xlsxのみサポート</li>
    <li>ユーザの判別はセッションを使用
      <ul>
        <li>同じPCでもブラウザを変えると別ユーザ扱い</li>
        <li>有効期限は2週間で、なにか操作があるたびに延長</li>
      </ul>
    </li>
    <li>ファイルは30日で自動削除</li>
    <li>管理者画面でIPアドレス、翻訳文字数を保持</li>
  </ul>

  <h3 class="mt-2">アップデート予定</h3>
  <ul>
    <li>Glossary対応</li>
    <li>PDF対応</li>
  </ul>

{% endblock content %}
</div>
